<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {

  var data = google.visualization.arrayToDataTable([
    ['Barrio', 'Precio promedio por metro cuadrado', {role: 'style'} ],
    [ 'Barracas',  2325, 'red'],
    [ 'Parque Patricios', 1185, ''],
	[ 'Constitución', 1432, ''],
	[ 'San Telmo', 1980, ''],
	[ 'La Boca',756,  ''],
	[ 'Nueva Pompeya', 775, '']
  ]);

  var options = {
    //title: 'Precio promedio del metro cuadrado',
    titleTextStyle: { color: 'black', fontName: 'verdana',   fontSize: 20,   bold: true},
    chartArea: {'width': '90%', 'height': '80%'},
    legend: {position: 'none'}
  };
  var barrio1 = 'Barracas'
  options.title = 'Precio promedio del metro cuadrado en zona de' + ' ' +  barrio1;

  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

  chart.draw(data, options);

}
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>