<div class="center jumbotron">
  <h1>Bienvenido a MiLEEM</h1>

  <h2>
    Aqu&iacute; encontrar&aacute;s aquel lugar llamado 
    "Mi Lugar En El Mundo"
  </h2>

  <%= link_to "¡Ver propiedades!", 'propiedads', class: "btn btn-large btn-primary" %>
</div>
