<div class="center hero-unit">
  <h1>Bienvenido a MiLEEM</h1>

  <h2>
    Aqui encontrar&aacute;s aquel lugar llamado 
    "Mi Lugar En El Mundo"
  </h2>

  <%= link_to "¡Ver propiedades!", 'propiedads', class: "btn btn-large btn-primary" %>
</div>
