<div class="center hero-unit">
  <h1>Bienvenido a MiLEEM Web</h1>

  <h2>
    Esta es la aplicación para que puedas encontrar aquel lugar que puedas llamar 
    "Mi Lugar En El Mundo"
  </h2>

  <%= link_to "Ver propiedades!", 'propiedads', class: "btn btn-large btn-primary" %>
</div>