@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: #6D6D6D;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.linea{
  margin-bottom: 10px;
  margin-top: 0;
  border­-top: 1px solid #eeeeee;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Estilos propios */

#tablaAmenities{
  margin-left: auto;
  margin-right: auto;
}

#tablaAmenities label{
  margin-left: 15px;
}

.camposInline {  
}

.camposInline label {
  position: relative;
  left: 3px;
  width: 100px;
  display: inline-block;
}

.camposInline input, .camposInline select, .camposInline textarea {
  position: relative;
  left: 2em;
  display: inline;
}

#mapa {
  height: 80%;
  margin: 10px 10px 10px 10px;
  padding: 0px;
  width: auto;
}

.notice {
  color: green;
}

#noticeRed {
  color: red;
}

.campoCorto {
  width: 5em;
}

.obligatorio{
  position: relative;
  color: red;
  font-size: 0.8em;
  display: inline;
}

.image-container {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.estado{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  float: right;
}

.activa{
  background-color: green;
  color: white;
}

.pausada{
  background-color: #cc9933;
  color: white;
}

.finalizada{
  background-color: red;
  color: white;
}

#botonera{
  float:left;
}
