<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien pidió un link para cambiar tu password, para hacerlo hace clic en el link indicado abajo.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vos no pediste el cambio de tu password, por favor ignorá este email.</p>
<p>Tu password no cambiará hasta que accedas al link de arriba.</p>
