<h1>Editando propiedad</h1>

<%= render 'form' %>

<%= render 'formFotos' %>

<span class="btn"><%= link_to 'Show', @propiedad %> </span>
<span class="btn"><%= link_to 'Back', propiedads_path %> </span>
