<h1>Editando propiedad</h1>

<%= render 'form' %>

<div class="center">
<%= render 'formFotos' %>

<p><%= link_to 'Ver publicación', @propiedad, class: "btn" %></p>
<%= link_to 'Volver', propiedads_path, class: "btn" %>
</div> 