<h1>Lista de propiedades</h1>
<div class="center">
	<%= link_to 'PUBLICAR PROPIEDAD', new_propiedad_path, :class=>"btn btn-info center"  %>
</div>
<p>&nbsp;</p>
<%= render 'dashboard' %>

<table class="table table-condensed">
	<thead>
		<tr>
			<th>Dirección</th>
			<th>Número</th>
			<th>Tipo de Propiedad</th>
			<th>Operación</th>
			<th>Precio</th>
			<th>Moneda</th>
			<th>Barrio</th>
			<th>Tipo</th>
			<th>Fotos</th>
			<th>Usuario</th>
			<th>Tipo Publicación</th>
			<th>Fecha Publicación</th>
			<th>Fecha Finalización</th>
			<th>Estado</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @propiedads.each do |propiedad| %>
		
		<% @propiedad = propiedad %>
		
		<% if (!user_signed_in? && (@propiedad.fecha_publicacion < Time.now) && (@propiedad.fecha_finalizacion > Time.now)) %>			
			
		  <% if @propiedad.estado_id == 1 %>
	        <%= render 'tablaIndex' %>
	      <% end %>
	      
	    <% else if (user_signed_in? && (current_user.id == @propiedad.user.id)) %>
	    
	      <%= render 'tablaIndex' %>

		<% end %>
		<% end %>
		<% end %>
	</tbody>
</table>